<div class="flex flex-col gap-4">
  <a routerLink="" class="group flex flex-row items-center gap-4">
    <i
      class="pi pi-arrow-left text-3xl transition duration-200 ease-in-out group-hover:-translate-x-1"
    ></i>
    <p class="text-xl">{{ 'app.project.backButton' | translate }}</p>
  </a>
  @if (!project()) {
    <p class="text-center">{{ 'app.project.noProjectFound' | translate }}</p>
  } @else {
    <div class="flex flex-col gap-6 lg:flex-row">
      <app-media-carousel
        class="lg:max-w-[55%]"
        [projectId]="project()?.id ?? ''"
        [mediaItems]="project()?.media ?? []"
      ></app-media-carousel>

      <section class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h1>{{ project()?.title }}</h1>
          @if (semester()) {
            <h4>{{ project()?.studyProgramme }} | {{ semester() }} Semester</h4>
          }
        </div>

        <div class="flex flex-row gap-3">
          @for (tool of project()?.tools; track $index) {
            <app-tool-tag [tool]="tool"></app-tool-tag>
          }
        </div>

        <p [innerHTML]="project()?.description"></p>

        <a
          class="font-semibold text-teal-200"
          [href]="project()?.link?.url"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="animate-underline">{{ project()?.link?.text }}</span></a
        >
      </section>
    </div>
  }
</div>
